<div class="section_container">
    <div class="title title_main">Toolbox</div>
    
    <div class='container_toolbox_bt'>
        <button id="dialog-link-diagnostic" class="ui-button ui-corner-all ui-widget selected">
            <img src='images/diagno.png'><br>
            Diagnostic
        </button>
        <button id="dialog-link-spybox" class="ui-button ui-corner-all ui-widget">
            <img src='images/binoculars.png'><br>
            Spy Box
        </button>    
        <button id="dialog-link-sender" class="ui-button ui-corner-all ui-widget">
            <img src='images/send-mail.png'><br>
            Sender Box
        </button>        
        <button id="dialog-link-download" class="ui-button ui-corner-all ui-widget">
            <img src='images/downloading-action.png'><br>
            Download FW
        </button>        
        <button id="dialog-link-calibration" class="ui-button ui-corner-all ui-widget">
            <img src='images/settings-gears.png'><br>
            Calibration
        </button>
    </div>
    
    <div class="diag_inge panels">
        <div class="button_show">
            <div class="zone zone_0">
            
            </div>
            <div class="zone zone_1">

            </div>
            <div class="zone zone_2">

            </div>
            <div class="get_config get_conf_inge">
                <button class="bt_get_config">Get configuration</button>
                <div class="config_info">
                    <span class="text_config">Boot Release : </span><span class="boot_config"></span><br>
                    <span class="text_config">FPGA Release : </span><span class="fpga_config"></span><br>
                    <span class="text_config">SW Release : </span><span class="sw_config"></span><br>
                    <span class="text_config">Unic ID : </span><span class="unic_config"></span>
                </div>
            </div>
            <div class="show_joystick">
                SHOW JOYSTICKS PANEL
            </div>
        </div>        
        <div class="joystick_show">
            <div class="show_button">
                SHOW BUTTON PANEL
            </div>
            <div class="zone zone_3">
            
            </div>
            <div class="zone zone_4">

            </div>
            <div class="zone zone_5">

            </div>
            <div class="jauge_container_global">
                <div class="canvas_jauge">
                    <div class="title_jauge">JOYSTICK 1</div>
                    <div id="jauge_joystick_horizontal_left">
                        <div class="informations"><span class="zero">-100%</span></div>
                        <div class="jauge_container dir_left">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_horizontal_right">
                        <div class="informations"><span class="cent">100%</span></div>
                        <div class="jauge_container dir_right">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_top">
                        <div class="informations"><span class="zero">100%</span></div>
                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_bot">

                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>      
                        <div class="informations"><span class="zero">-100%</span></div>
                    </div>

                </div>    
                <div class="canvas_jauge">
                    <div class="title_jauge">JOYSTICK 2</div>
                    <div id="jauge_joystick_horizontal_left_2">
                        <div class="informations"><span class="zero">-100%</span></div>
                        <div class="jauge_container dir_left">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_horizontal_right_2">
                        <div class="informations"><span class="cent">100%</span></div>
                        <div class="jauge_container dir_right">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_top_2">
                        <div class="informations"><span class="zero">100%</span></div>
                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_bot_2">

                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>      
                        <div class="informations"><span class="zero">-100%</span></div>
                    </div>

                </div>    
                <div class="canvas_jauge">
                    <div class="title_jauge">JOYSTICK 3</div>
                    <div id="jauge_joystick_horizontal_left_3">
                        <div class="informations"><span class="zero">-100%</span></div>
                        <div class="jauge_container dir_left">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_horizontal_right_3">
                        <div class="informations"><span class="cent">100%</span></div>
                        <div class="jauge_container dir_right">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_top_3">
                        <div class="informations"><span class="zero">100%</span></div>
                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>        
                    </div>

                    <div id="jauge_joystick_vertical_bot_3">

                        <div class="jauge_container dir_top">
                            <div class="jauge_remplissage"></div>
                        </div>      
                        <div class="informations"><span class="zero">-100%</span></div>
                    </div>

                </div>    
            </div>
        </div>
    </div>
    
    <div class="download_inge panels">
        
        <div class="download_tool">
            <div class="title_download">Download FW Toolbox</div>
            <div class="testing_upl">
                <input type="file" id="fileinput2" /><br><br>
                <div class="content_upl"></div>
                <div class="downloading_bar_container hidden">
                    <div class="downloading_bar"></div>
                    <div class="downloading_bar_content">0 %</div>
                </div>
                <div class="start_download hidden">Start Download</div>
                <div class="stop_download hidden">Stop Download</div>
            </div>
        </div>
    </div>
    
    <div class="calibration_inge panels">
         <div class="toolbox_calibration">       
            <div class="eprom_protect protected">
                <img class="img_eprom" src="images/protected.png"/>
                <div class="txt_eprom">EEPROM is protected</div>        
                <div class="bt_eprom">UNLOCK EPROM</div>
            </div>
        </div>

        <div class="jauge_container_global">
            <div class="canvas_jauge">
                <div class="title_jauge">JOYSTICK 1</div>            
                <div class="calibrate_bt_1">
                    <button>Calibrate</button>
                    <div class="calibrate_tool hidden">
                        <div class="status_calib"></div>
                        <div class="action_calib"></div>
                        <div class="validate_calib">Validate</div>
                    </div>
                </div>
                <div class="realtime_joysticks_val joystick1">
                    <div class="joystick_val_info">
                        <button class='verify_calibration joystick1'>Verify</button> 
                        <button class='reset_calibration_verif joystick1'>Reset</button><br><br>
                        <div class="bloc_left_joy">
                            <span class="text_config">X : </span><span class="x_value_joy">0</span><br>
                            <span class="text_config">Min X : </span><span class="minx_value_joy">0</span><br>
                            <span class="text_config">Max X : </span><span class="maxx_value_joy">0</span><br>
                        </div>
                        <div class="bloc_right_joy">
                            <span class="text_config">Y : </span><span class="y_value_joy">0</span><br>
                            <span class="text_config">Min Y : </span><span class="miny_value_joy">0</span><br>
                            <span class="text_config">Max Y : </span><span class="maxy_value_joy">0</span>
                        </div>
                    </div>
                </div>        
            </div>    
            <div class="canvas_jauge">
                <div class="title_jauge">JOYSTICK 2</div>
                <div class="calibrate_bt_2">
                    <button>Calibrate</button>
                    <div class="calibrate_tool hidden">
                        <div class="status_calib"></div>
                        <div class="action_calib"></div>
                        <div class="validate_calib">Validate</div>
                    </div>
                </div>
                <div class="realtime_joysticks_val joystick2">
                    <div class="joystick_val_info">
                        <button class='verify_calibration joystick2'>Verify</button>
                        <button class='reset_calibration_verif joystick2'>Reset</button><br><br>
                        <div class="bloc_left_joy">
                            <span class="text_config">X : </span><span class="x_value_joy">0</span><br>
                            <span class="text_config">Min X : </span><span class="minx_value_joy">0</span><br>
                            <span class="text_config">Max X : </span><span class="maxx_value_joy">0</span><br>
                        </div>
                        <div class="bloc_right_joy">
                            <span class="text_config">Y : </span><span class="y_value_joy">0</span><br>
                            <span class="text_config">Min Y : </span><span class="miny_value_joy">0</span><br>
                            <span class="text_config">Max Y : </span><span class="maxy_value_joy">0</span>
                        </div>
                    </div>
                </div>        
            </div>    
            <div class="canvas_jauge">
                <div class="title_jauge">JOYSTICK 3</div>            
                <div class="calibrate_bt_3">
                    <button>Calibrate</button>
                    <div class="calibrate_tool hidden">
                        <div class="status_calib"></div>
                        <div class="action_calib"></div>
                        <div class="validate_calib">Validate</div>
                    </div>
                </div>
                <div class="realtime_joysticks_val joystick3">
                    <div class="joystick_val_info">
                        <button class='verify_calibration joystick3'>Verify</button>
                        <button class='reset_calibration_verif joystick3'>Reset</button><br><br>
                        <div class="bloc_left_joy">
                            <span class="text_config">X : </span><span class="x_value_joy">0</span><br>
                            <span class="text_config">Min X : </span><span class="minx_value_joy">0</span><br>
                            <span class="text_config">Max X : </span><span class="maxx_value_joy">0</span><br>
                        </div>
                        <div class="bloc_right_joy">
                            <span class="text_config">Y : </span><span class="y_value_joy">0</span><br>
                            <span class="text_config">Min Y : </span><span class="miny_value_joy">0</span><br>
                            <span class="text_config">Max Y : </span><span class="maxy_value_joy">0</span>
                        </div>
                    </div>
                </div>        
            </div>    
        </div>
    </div>

    <!-- ui-dialog spybox -->
    <div id="dialog-spybox" title="Spy Box"> 
        <div class="option_line">
            <button class="spy_stop">Pause</button>
            <button class="spy_play">Play</button>
            <button class="spy_clear">Clear</button>
        </div>
        <div class="filter_panel">
            <span class="text">Filter by CAN ID: </span><input class="filter_canid" type="text" value="" placeholder="000001ad" /><div class="is_different_canid"><img src="images/warning-sign.png"></div><br>
            <span class="text">Filter by CAN DATA: </span><input class="filter_candata" type="text" value="" placeholder="000000000000" /><div class="is_different_candata"><img src="images/warning-sign.png"></div><br>
            <div class="bt_filter">
                <button class="launch_filter"><img src="images/check_green.png"></button>
            </div>
            <div class="recap_filter"></div>
        </div>
        <div class="head_line">
            <span class="canid_head">CAN ID</span>
            <span class="candata_head">CAN DATA</span>
            <span class="number_head">COUNT</span>
            <span class="ts_head">TIMESTAMP</span>
        </div>
        <div class="content_line"></div>
    </div>
    
     <!-- ui-dialog sender -->
     <div id="dialog-sender" title="Sender Box"><br>
        <button class="add_zero">Add zeros</button>
        <div class="presentation_sender">Type message to send:</div>
        <div class="input_bloc_sender">
            <div><span class="text_sender red">DLC: </span><input type="text" class="candlc_sender" value="" placeholder="08" /></div>
            <div><span class="text_sender green">CAN ID: </span><input type="text" class="canid_sender" value="" placeholder="000001ad" /></div>
            <div><span class="text_sender blue">CAN DATA: </span><input type="text" class="candata_sender" value="" placeholder="000000000000" /></div>
        </div>
        <div><button class="sender_test">Preview</button></div>
        <div class="error_sender hidden"></div>
        <div class="result_sender hidden">
            <div class="reference_sender">
                <span class="text_ref">Reference : </span><span class='red'>08</span> <span class='green'>00000228</span> <span class='blue'>01900d2500000000</span>
            </div>
            <div class="sender_msg"></div>
            <div class="length_msg"></div>
            <div><button class="sender_final">Send !</button></div>
        </div>
    </div>

</div>


<script>

$( "#dialog-spybox" ).dialog({
    autoOpen: false,
    width: 500,
    resizable:true,
    dialogClass: 'success-dialog'
    
});
$( "#dialog-sender" ).dialog({
    autoOpen: false,
    width: 400,
    resizable:true,
    dialogClass: 'success-dialog'
});

// Link to open the dialog
$( "#dialog-link-spybox" ).click(function( event ) {
	$( "#dialog-spybox" ).dialog( "open" );
	$( "#dialog-spybox" ).addClass( "open" );
	event.preventDefault();
});
$(".success-dialog .ui-dialog-titlebar-close").click(function() {
    $( "#dialog-spybox" ).removeClass( "open" );
});

$( "#dialog-link-sender" ).click(function( event ) {
	$( "#dialog-sender" ).dialog( "open" );
	event.preventDefault();
});

</script>